{% load staticfiles %}


<html>
<head>
	<title>Sistema web Innova</title>


	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">



<!-- css -->

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/datepicker3.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>
<body>


{% block page_content %}
{% endblock %}



<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{% static 'js/chart-data.js' %}"></script>
<script src="{% static 'js/easypiechart.js' %}"></script>
<script src="{% static 'js/easypiechart-data.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>





</body>
</html>