{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}

<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="{% url 'home' %}"><span>Sistema</span>INNOVA</a>

			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<!--<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">-->
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li><a href="{% url 'mapa' %}"><em class="fa fa-arrow-right">&nbsp;</em> Censos</a></li>
			<li><a href="{% url 'estadisticas' %}"><em class="fa fa-arrow-right">&nbsp;</em> Estadisticas</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Agregaciones <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a href="{% url 'canales' %}"><em class="fa fa-arrow-right">&nbsp;</em> Canales</a></li>
					<li><a href="{% url 'categorias' %}"><em class="fa fa-arrow-right">&nbsp;</em> Categorias</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Departamentos</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Fases</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Marcas</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Municipios</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Razas</a></li>
				</ul>
			</li>
			<li><a href="{% url 'log_out' %}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Censos</li>
			</ol>
		</div><!--/.row-->
		

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Censos</h1>
			</div>
		</div><!--/.row-->
		

		

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default chat">
					<div class="panel-heading"> 
						Lista de censos 
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<ul>
							{% for data in data %}
							<li class="left clearfix">
								<span class="chat-img pull-left">
								<a href="{% url 'detalles' data.pk %}" class="btn btn-info">Mas</a>
								</span>
								<div class="chat-body clearfix">
									<div class="header"><strong class="primary-font">{{ data.productor }}</strong> 
										<small class="text-muted">{{ data.fecha }}</small></div>
									<p>{{ data.nombre_finca }}</p>
									<p>{{ data.municipio }}</p>
								</div>						
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div><!--/.col-->

			
			
			
	</div>	<!--/.main-->

	<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
					
					</div>
					<div class="panel-body">
						
							  <div id="map"></div>
						
					</div>
				</div>
			</div>
		</div><!--/.row-->


	<script>


	 function initMap() {
        var uluru = {lat: 4.0000000, lng: -72.0000000};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center:  {lat: 4.0000000, lng: -72.0000000},
        });


         {% for data in data %}

         var posicion = ({
         	lat: {{ data.latitud }}, lng: {{ data.longitud }} 
         }) 
         	 
 
        var marker = new google.maps.Marker({
          position: posicion,
          map: map
        });

       var infowindow = new google.maps.InfoWindow({
		    content: '{{ data.nombre_finca }}' + '<br>' + '{{ data.productor }}' + '<br>' + '{{ data.fecha }}'
		  });

        marker.addListener('click', function(){
		    infowindow.open(map, marker);
		  });
         {% endfor %} 

      }

    
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAowbLQTqle8_R2zIHNYunzGIvsT9LR9ig&callback=initMap">
    </script>

{% endblock %}