{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}

<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="{% url 'home' %}"><span>Sistema</span>INNOVA</a>

			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<!--<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">-->
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li><a href="{% url 'mapa' %}"><em class="fa fa-arrow-right">&nbsp;</em> Censos</a></li>
			<li><a href="{% url 'estadisticas' %}"><em class="fa fa-arrow-right">&nbsp;</em> Estadisticas</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Agregaciones <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a href="{% url 'canales' %}"><em class="fa fa-arrow-right">&nbsp;</em> Canales</a></li>
					<li><a href="{% url 'categorias' %}"><em class="fa fa-arrow-right">&nbsp;</em> Categorias</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Departamentos</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Fases</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Marcas</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Municipios</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Razas</a></li>
				</ul>
			</li>
			<li><a href="{% url 'log_out' %}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Canales</li>
			</ol>
		</div><!--/.row-->
		

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Canales</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default chat">
					<div class="panel-heading">
						Ultimos canales agregados
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<ul>
							{% for canales in data %}
							<li class="left clearfix">
								<div class="col-xs-6">
								{{ canales.nombre_cat }}   
								</div>
								<div class="col-xs-6">
									 <button class="btn btn-danger btn-sm">Eliminar</button>
								</div>
							</li>
							{% endfor %}

						</ul>
					</div>
				</div>
			</div><!--/.col-->
			
			
		<div class="col-md-6">
				<div class="panel panel-default chat">
					<div class="panel-heading">
						Nuevo Canal
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
						<form method="post">
							<div class="panel-body">
								{% csrf_token %}
								<p>Estas seguro que deseas eliminar '{{ object }}' ? </p>
								{{ form.as_p }}

								<center><button type="submit" class="btn btn-info">Eliminar</button></center>
							</div>
						</form>
				</div>
			</div><!--/.col-->
	</div>	<!--/.main-->


	<script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Tu ubicacion Actual');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAowbLQTqle8_R2zIHNYunzGIvsT9LR9ig&callback=initMap">
    </script>

{% endblock %}