{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}

<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="{% url 'home' %}"><span>Sistema</span>INNOVA</a>

			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<!--<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">-->
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
            <li><a href="{% url 'mapa' %}"><em class="fa fa-arrow-right">&nbsp;</em> Censos</a></li>
            <li><a href="{% url 'estadisticas' %}"><em class="fa fa-arrow-right">&nbsp;</em> Estadisticas</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Agregaciones <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a href="{% url 'canales' %}"><em class="fa fa-arrow-right">&nbsp;</em> Canales</a></li>
					<li><a href="{% url 'categorias' %}"><em class="fa fa-arrow-right">&nbsp;</em> Categorias</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Departamentos</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Fases</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Marcas</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Municipios</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Razas</a></li>
				</ul>
			</li>
			<li><a href="{% url 'log_out' %}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Estadisticas</li>
			</ol>
		</div><!--/.row-->
		

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Estadisticas</h1>
                <br>
                <div class="col-xs-4">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Seleccionar
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <CENTER><li data-toggle="tab" href="#home">Censos</li></CENTER>
                      <center><li data-toggle="tab" href="#menu1">Departamentos</li></center>
                     
                      <center><li data-toggle="tab" href="#menu3">A quien Vende Leche</li></center>
                      <center><li data-toggle="tab" href="#menu4">STC</li></center>
                      <center><li data-toggle="tab" href="#menu5">ATF</li></center>
                      <center><li data-toggle="tab" href="#menu6">Marca Concentrado</li></center>
                      <center><li data-toggle="tab" href="#menu7">Marca Sales</li></center>
                      <center><li data-toggle="tab" href="#menu8">Razas</li></center>
                      <center><li data-toggle="tab" href="#menu9">Veredas</li></center>
                      <center><li data-toggle="tab" href="#menu10">Fases</li></center>
                    </ul>
                 </div>
			</div>
		</div><!--/.row-->


        <div class="row">
            <div class="col-lg-12">
                   

                    <div class="tab-content">
                      <div id="home" class="tab-pane fade in active">

                        <div class="panel-body">
                        
                            <canvas id="myChart" style="height: 200px;"></canvas>
                        
                         </div>
                        
                      </div>
                      <div id="menu1" class="tab-pane fade">

                        <div class="panel-body">
                        
                            <canvas id="myChart2" style="height: 150px;"></canvas>
                        
                         </div>
                        
                      </div>
                      <div id="menu2" class="tab-pane fade">


                            <div class="panel-body">
                        
                            <canvas id="myChart3" style="height: 150px;"></canvas>
                        
                             </div>
                       
                      </div>

                       <div id="menu3" class="tab-pane fade">


                            <div class="panel-body">
                        
                            <canvas id="myChart4" style="height: 150px;"></canvas>
                        
                             </div>
                       
                      </div>



                       <div id="menu4" class="tab-pane fade">


                            <div class="panel-body">
                        
                            <canvas id="myChart5" style="height: 150px;"></canvas>
                        
                             </div>
                       
                      </div>

                       <div id="menu5" class="tab-pane fade">


                            <div class="panel-body">
                        
                            <canvas id="myChart6" style="height: 150px;"></canvas>
                        
                             </div>
                       
                      </div>

                       <div id="menu6" class="tab-pane fade">


                            <div class="panel-body">
                        
                            <canvas id="myChart7" style="height: 150px;"></canvas>
                        
                             </div>
                       
                      </div>

                       <div id="menu7" class="tab-pane fade">


                            <div class="panel-body">
                        
                            <canvas id="myChart8" style="height: 150px;"></canvas>
                        
                             </div>
                       
                      </div>

                       <div id="menu8" class="tab-pane fade">


                            <div class="panel-body">
                        
                            <canvas id="myChart9" style="height: 150px;"></canvas>
                        
                             </div>
                       
                      </div>

                       <div id="menu9" class="tab-pane fade">


                            <div class="panel-body">
                        
                            <canvas id="myChart10" style="height: 150px;"></canvas>
                        
                             </div>
                       
                      </div>

                       <div id="menu10" class="tab-pane fade">


                            <div class="panel-body">
                        
                            <canvas id="myChart11" style="height: 150px;"></canvas>
                        
                             </div>
                       
                      </div>
                    </div>

            </div>
        </div>
		

			
	</div>	<!--/.main-->


	<script>


      

    
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre" , "octubre" , "noviembre" , "diciembre"],
        datasets: [{
            label: 'Numero de Censos Totales por Mes',
            data: [0, 0, 0, 0, 0, 0,
             {{ data }}, 0, 0 , 0, 0, 0],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


    <script>
var ctx = document.getElementById("myChart2").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Amazonas",
        			 "Antioquia",
        			 	"Arauca",
        			 		 "Atlántico", 
        			 		 "Bogotá",
        			 		  "Bolívar", 
        			 		  "Boyacá", 
        			 		  "Caldas", 
        			 		  "Caquetá" ,
        			 		   "Casanare" , 
        			 		   "Cauca" ,
        			 		    "Cesar",
        			 		    "Chocó",
        			 		    "Córdoba",
        			 		    "Cundinamarca",
        			 		    "Guainía",
        			 		    "Guaviare",
        			 		    "Huila",
        			 		    "La Guajira",
        			 		    "Magdalena",
        			 		    "Meta",
        			 		    "Nariño",
        			 		    "Norte de Santander",
        			 		    "Putumayo",
        			 		    "Quindío",
        			 		    "Risaralda",
        			 		    "San Andrés y Providencia",
        			 		    "Santander",
        			 		    "Sucre",
        			 		    "Tolima",
        			 		    "Valle del Cauca",
        			 		    "Vaupés",
        			 		    "Vichada"],
        datasets: [{
            label: 'Numero de Censos por Departamentos',
            data: [0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',


            ],
            borderColor: [
               'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',


            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


    <script>
var ctx = document.getElementById("myChart3").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Marca de Ejemplo", 
        		"Marca de Ejemplo", ],
        datasets: [{
            label: 'Numero de Censos por Marcas',
            data: [12, 19],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',

            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


    <script>
var ctx = document.getElementById("myChart4").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Lacteos los Andes", 
                "Betania", 
                "Alpina", 
                "Colanta",
                "Parmalat",  ],
        datasets: [{
            label: 'A quien venden Leche',
            data: [{{ quien1 }},
                     {{ quien2 }}, 
                        {{ quien3 }} , 
                            {{ quien4 }} , 
                                {{ quien5 }} , ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',

            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


    <script>
var ctx = document.getElementById("myChart5").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [ "0102-E-TECNICO GANA ANDRES", 
                "0103-E-TECNICO JUAN PABLO",
                "0102 E-TECNICO GANA ANDRES",

            /*"0102 - E - TECNICO GANA ANDRES CARDONA", 
                 "0103 - E-TECNICO JUAN PABLO MIRA",
                "0102 E-TECNICO GANA, ANDRES CARDONA",*/ ],
        datasets: [{
            label: 'STC',
            data: [ {{ stc1 }}, {{ stc2 }},  {{ stc3 }} 
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                 'rgba(54, 162, 235, 0.2)',

            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                 'rgba(54, 162, 235, 0.2)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


    <script>
var ctx = document.getElementById("myChart6").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
       labels: ["4305-I-TECNICO GANA FABIO OSORIO", 
                "4303-I-TECNICO GAA JUAN BUILES",
                "4306-I-TECNICO GANA JULIAN VIDAL", ],
        datasets: [{
            label: 'ATF',
            data: [ {{ atf1 }} , {{ atf2 }}, {{ atf3 }}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                 'rgba(54, 162, 235, 0.2)',

            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                 'rgba(54, 162, 235, 0.2)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


    <script>
var ctx = document.getElementById("myChart7").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Contregal", 
                "Finca",
                 "Soya",
                  "Italcol", ],
        datasets: [{
            label: 'Marca Concentrado',
            data: [ {{ concentrado1 }}, {{ concentrado2 }} , {{ concentrado3 }},  {{ concentrado4 }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                 'rgba(54, 162, 235, 0.2)',

            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                 'rgba(54, 162, 235, 1)',
                  'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


    <script>
var ctx = document.getElementById("myChart8").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["PREMEX", 
                "CONTREGAL",
                "FINCA",
                "SOMEX",
                "SOLLA",
                "ITALCOL", ],
        datasets: [{
            label: 'Marcas de Sales',
            data: [{{ sales1 }}, {{ sales2 }} , {{ sales3 }}, {{ sales4 }}, {{ sales5 }}, {{ sales6 }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                 'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                   'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',

            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                 'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                   'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


    <script>
var ctx = document.getElementById("myChart9").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["CRUCES", 
                "JERSEY",
                "HOLSTEIN", 
                "AYRSHIRE", 
                ],
        datasets: [{
            label: 'Estadisticas por Razas',
            data: [ {{ raza1 }}, {{ raza2 }}, {{ raza3 }}, {{ raza4 }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',

            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                 'rgba(255,99,132,1)',
                  'rgba(255,99,132,1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


    <script>
var ctx = document.getElementById("myChart10").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [/*"EL PORVENIR", 
                   "EL FILO", 
                      "LA VEGA", 
                         "LA ARGENTINA",
                               "LA CUCHILLA ALTO MEDINA", 
                                   "ZONA URBANA",*/
                                   "el porvenir","el filo","la vega","la argentina","la cuchilla alto medina","zona urbana",
                     ] ,
        datasets: [{
            label: 'Numero de Censos por Veredas',
            data: [ {{ vereda1 }}, {{ vereda2 }}, {{ vereda3 }}, {{ vereda4 }} , {{ vereda5 }} , {{ vereda6 }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                 'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                   'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',

            ],
            borderColor: [
                'rgba(255,99,132,1)',
                 'rgba(255,99,132,1)',
                  'rgba(255,99,132,1)',
                   'rgba(255,99,132,1)',
                   'rgba(255,99,132,1)',
                     'rgba(255,99,132,1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

 <script>
var ctx = document.getElementById("myChart11").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Levante", 
                "Produccion", ],
        datasets: [{
            label: 'Numero de Censos por Fases',
            data: [ {{ fase1 }},  {{ fase2 }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',

            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>



{% endblock %}