{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
				<center><img src="{% static 'images/logo_inova.png' %}" style="height:200px; width:250px;"></center>
				<br><br>
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Inicio de Session IN-OVA</div>
				<div class="panel-body">
					<form role="form" method="post" action="{% url 'index' %}">
						{% csrf_token %}
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="username" name="username" type="text" autofocus="">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Password" name="password" type="password" value="">
							</div>
							<div class="checkbox">
							</div>
							<center><input type="submit" class="btn btn-primary" value="Iniciar Session"></center>
						</fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->	

{% endblock %}