{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}

<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="{% url 'home' %}"><span>Sistema</span>INNOVA</a>

			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<!--<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">-->
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li><a href="{% url 'mapa' %}"><em class="fa fa-arrow-right">&nbsp;</em> Censos</a></li>
			<li><a href="{% url 'estadisticas' %}"><em class="fa fa-arrow-right">&nbsp;</em> Estadisticas</a></li>	
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Agregaciones <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a href="{% url 'canales' %}"><em class="fa fa-arrow-right">&nbsp;</em> Canales</a></li>
					<li><a href="{% url 'categorias' %}"><em class="fa fa-arrow-right">&nbsp;</em> Categorias</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Departamentos</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Fases</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Marcas</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Municipios</a></li>
					<li><a href=""><em class="fa fa-arrow-right">&nbsp;</em> Razas</a></li>
				</ul>
			</li>
			<li><a href="{% url 'log_out' %}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Censos</li>
			</ol>
		</div><!--/.row-->
		

		<div class="row">
			<div class="col-lg-6">
				<h1 class="page-header">Censos</h1>
			</div>

			<div class="col-lg-6">
				
			</div>
			<br><br>
		</div><!--/.row-->
		<br><br>

		
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default chat">
					<div class="panel-heading">
						Ultimas Visitas
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<ul>
							{% for data in data %}
							<li class="left clearfix">
								<span class="chat-img pull-left">
								<a href="{% url 'detalles' data.pk %}" class="btn btn-info">Mas</a>
								</span>
								<div class="chat-body clearfix">
									<div class="header"><strong class="primary-font">{{ data.productor }}</strong> 
										<small class="text-muted">{{ data.fecha }}</small></div>
									<p>{{ data.nombre_finca }}</p>
									<p>{{ data.municipio }}</p>
								</div>						
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div><!--/.col-->

			<div class="col-md-6">
				<div class="panel panel-default chat">
					<div class="panel-heading">
						Filtrar Por
						<ul class="pull-right panel-settings panel-button-tab-right">
							
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<ul>
							<li>
								<a data-toggle="modal" data-target="#example">PRODUCTOR</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example17">NOMBRE DE FINCA</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example1">FUENTES</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example2">ZONA DEVOLVER</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example3">ZONA</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example4">SUB ZONA</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example5">STC</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example6">ATF</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example7">CANALES</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example8">VEREDA</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example9">FASE</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example10">MARCA CONCENTRADO</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example11">CATEGORIAS</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example12">MARCA SALES</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example13">RAZAS</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example14">A QUIEN VENDE LECHE </a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example15">PREMEZCLA</a>
							</li>
							<li>
								<a data-toggle="modal" data-target="#example16">SOFTWARE</a>
							</li>
						</ul>

					</div>
				</div>
			</div><!--/.col-->
			
			
			
	</div>	<!--/.main-->

	<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
					
					</div>
					<div class="panel-body">
						
							  <div id="map"></div>
						
					</div>
				</div>
			</div>
		</div><!--/.row-->


	<script>


	 function initMap() {
        var uluru = {lat: 4.0000000, lng: -72.0000000};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center:  {lat: 4.0000000, lng: -72.0000000},
        });


         {% for data in data %}

         var posicion = ({
         	lat: {{ data.latitud }}, lng: {{ data.longitud }} 
         }) 
         	 
        var infowindow = new google.maps.InfoWindow({
		    content: '{{ data.nombre_finca }}' + '<br>' + '{{ data.productor }}' + '<br>' + '{{ data.fecha }}'
		  });

        var marker = new google.maps.Marker({
          position: posicion,
          map: map , 
         // infowindow : infowindow
     	    label :  '{{ data.nombre_finca }}' ,
        });

        marker.addListener('click', function(){
		  //  marker.infowindow.open(map, marker);
		  });

       
         {% endfor %} 

      }

    
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAowbLQTqle8_R2zIHNYunzGIvsT9LR9ig&callback=initMap">
    </script>




     <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_productor' %}">
						      			{% csrf_token %}
						      		<div class="row">
						      			
							      			<div class="col xs-6">
							      				<input type="text" class="form-control" name="previo">
							      			</div>
							      			<br><br>
							      			<center><input type="submit" value="Buscar" class="btn btn-info"></center>
							      	
						      		</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>



     <div class="modal fade" id="example1" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in Fuente %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_fuente' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>



 <div class="modal fade" id="example2" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in zona_devolver %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_zona_devolver' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>

	<div class="modal fade" id="example3" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in zona %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_zona' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>




	<div class="modal fade" id="example4" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in sub_zona %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_sub_zona' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>




	<div class="modal fade" id="example5" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in stc %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_stc' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>


	<div class="modal fade" id="example6" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in atf %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_atf' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>


	<div class="modal fade" id="example7" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in canal %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_canal' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>




	<div class="modal fade" id="example8" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in vereda %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_vereda' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>




<div class="modal fade" id="example9" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in fase %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_fase' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>



<div class="modal fade" id="example10" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in marca_concentrado %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_marca_concentrado' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>



<div class="modal fade" id="example11" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in categoria %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_categoria' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>


<div class="modal fade" id="example12" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in razas %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_raza' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>


<div class="modal fade" id="example13" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in marca_sales %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_marca_sales' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>


<div class="modal fade" id="example14" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in a_quien_vende_leche %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_a_quien_vende_leche' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>



<div class="modal fade" id="example15" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in premezcla %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_premezcla' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>
 
				

<div class="modal fade" id="example16" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_usuario' %}">
						      			{% csrf_token %}
						      			<div class="row">
						      				<div class="container-fluid">
												{% for data in software %}
												<div class="col-xs-12">
													<p>{{ data.pk }} / {{ data.nombre }} <a href="{% url 'busqueda_software' data.pk %}">Buscar</a></p>
													
												</div>
												{% endfor %}
											</div>
										</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>



<div class="modal fade" id="example17" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Filtrar Por</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      		<form method="post" action="{% url 'busqueda_previo' %}">
						      			{% csrf_token %}
						      		<div class="row">
						      			
							      			<div class="col xs-6">
							      				<input type="text" class="form-control" name="previo">
							      			</div>
							      			<br><br>
							      			<center><input type="submit" value="Buscar" class="btn btn-info"></center>
							      	
						      		</div>
						      		</form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						      </div>
						    </div>
						  </div>
						</div>
{% endblock %}